body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    max-width: 100lvw;
    height: 100vh;
    margin: auto;
}

.header,
.footer{
    padding: 10px 17lvw;
    max-width: 80vw;
}

.top,
.mid1,
.mid2,
.bottom {
    padding: 50px 17lvw;
    max-width: 80vw;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
    height: 50px;
    flex: 0 1 auto;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 500;
}

ul{
    display: flex;
    padding: 0;
    margin: 0;
    gap: 24px;
    list-style-type: none;
    align-items: center;
}

li{
    display: flex;
    flex: auto;
    color: #e5e7eb;
    font-size: 18px;
}

.top{
    display: flex;
    align-items: center;
    background-color: #1f2937;
    flex: auto;
}

.topsplit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.topleft{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
}

.maintitle{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8
}

.secondary{
    color: #e5e7eb;
    font-size: 18px;
}

img{
    display: flex;
    flex: auto;
    background-color: #e5e7eb;
    height: auto;
    width: 300px;
}

button{
    background-color: #3882f6;
    color: #f9faf8;
    padding: 2px;
    border-radius: 8px;
    width: 100px;
    height: 20px
}

.button.one{
    border: none;
}

.mid1{
    background-color: #f9faf8;
    display: flex;
    flex-direction: column;
    flex: auto;
    padding-bottom: 50px;
    gap: 24px;
    justify-content: space-evenly;
}

.random{
    display: flex;
    margin: auto;
    color: #1f2937;
    font-weight: 900;
    font-size: 36px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.subbox{
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 auto;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
}

.box{
    display: flex;
    flex: auto;
    border: 6px solid #3882f6;
    background-color: #f9faf8;
    border-radius: 8px;
    height: 100px;
    width: 100px;
}

.subtext{
    flex: auto;
    text-align: center;
    color: gray;
    text-wrap: wrap;
    width: 100px;
}

.mid2{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    gap: 12px;
    flex: auto;
}

.quote{
    text-wrap: wrap;
    color: #1f2937;
    font-style: italic;
    font-weight: 200;
    font-size: 36px;
}

.attribution{
    display: flex;
    align-self: flex-end;
    font-weight: 700;
    font-size: 24px;
    color: #1f2937;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: auto;
}

.CTA{
    display: flex;
    border-radius: 12px;
    height: 100px;
    width: 500px;
    background-color: #3882f6;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
    justify-content: space-between;
    gap: 30px;
}

.CTA-text{
    display: flex;
    flex-direction: column;
}

.CTA-intro{
    color: #f9faf8;
    font-weight: 700;
}

.CTA-outro{
    color: #f9faf8;
}

.button.two{
    border-color: #f9faf8;
    border-width: 2px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #f9faf8;
    background-color: #1f2937;
    height: 50px;
}